.container {
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: row;

    .photo-section {
        width: 50%;
        flex: 1;
        overflow: hidden; // Pour s'assurer que l'image ne déborde pas
        img {
          width: 100%;
          height: 100%;
          object-fit: cover; // Ajustez l'image pour couvrir toute la section
        }
    }
    
      .list-section {
        flex: 1;
        overflow-y: auto;
        padding: 0 240px 0 24px;

        ul {
          margin: 0;
          padding: 0;
          list-style-type: none; // Supprimer les puces par défaut
    
          li {
            padding: 10px;
            border-bottom: 1.5px solid #ddd; // Bordure pour séparer les éléments
          }
        }
    }
}