header {
    box-sizing: border-box;
    font-size: 1rem;
    width: 100vw;
    height: 48px;
    position: fixed;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    backdrop-filter: saturate(180%) blur(20px);
}

a, header span {
    font-family: 'Urbanist', sans-serif;
}

.accueil, .works {
    text-decoration: none;
    color: inherit;
    position: relative;
    display: inline-block;
}

.works {
    font-weight: bold;
}