.footer {
    display: flex;
    flex-direction: column;
    font-family: 'Urbanist', san;
  
    .footer-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-top: 1px solid #ddd;
  
      .footer-section {
        display: flex;
        align-items: center;
  
        a + a {
          margin-left: 20px;
        }

        a {
          color: black;
          text-decoration: none;
        }

        a::after {
          content: "";
          display: inline-block;
          width:  0.8rem;
          height:  0.8rem;
          background-image: url('../../assets/img/arrow.svg');
          background-size: contain;
          background-repeat: no-repeat;
          margin-left: 6px;
          vertical-align: middle;
          transition: transform .3s ease-out;
        }

        a:hover::after {
          transform: rotate(45deg);
          width:  0.8rem;
          height:  0.8rem;
        }

        .section-work {
            text-align: center;
        }
      }
    }

    .footer-city {
      padding-top: 16px;
    }
  }
  